/* Body */
body{
	/*para colocar una Imagen de fondo*/
	background-image:url("../IMAGENES/fondo.jpg");
		/*para que no se repita la imagen de fondo*/
	background-repeat: no-repeat;
		/*para ajsutar el tamaño de la imagen*/
	background-size:100% 100%;
	/*COLOR DE FONDO*/
	/*background-color: "D5D5D5";*/
	/*Tipo de letra:si el 1o. no lo encuentra el navegador se coloca el 2do si no el 3ro.*/
	font-family:mifuente3;
	/*Tamaño de letra en pixeles*/
	font-size: 30px;
	/*Color de letra en html, nombre del color o valores RGB*/
	color: #FFFFFF;
}
/* hr */
hr{
	/*border es para linea
	tamaño en pixeles, tipo de linea y color*/
	border: 5px solid #393838;
	/*Es para el termino de las orillas el radio que tendra se expresa en pixeles*/
	border-radius: 5px;
}
p{
	/*alineacion del texto*/
	text-align: justify;
	/*Tamaño de letra en pixeles*/
	font-size: 20px;
	/*color de fondo del parrafo*/
	/*background-color*/
}
table,td,tr{
	/*grosor y tipo de linea*/
	border: 3px solid; 
	/*color de linea*/
	border-color: #393838;
	/*alineacion de texto*/
	text-align: center;
	/*color de fondo*/
	background-color: #000000;
}
th{
	background-color: #FFFFFF;	
}
ul{
	/*tipo de viñeta*/
	list-style-type:square;
	/*posicion de viñeta*/
	list-style-position:inside;
}
ol{
/*Algunos de los valores de list-style-type son:
lower-alpha; lower-roman; upper-alpha; upper-roman;
a,b,c,d,e,f	 i,ii,iii,iv  A,B,C,D,E,F  I,II,III,IV*/
list-style-type:upper-roman;
list-style-position: inside;	
}
.pie{
	text-align: center;
	font-size:20px;
	color:white;
	font-family: MIFUENTE;
}
.table-text{
	font-family: mifuente3;
	font-size:15px;
	color:white;
}
.title{
	text-align: center;
	font-size:60px;
	color:white;
	font-family:mifuente2;
	font-weight:bold;
}
.imgtable{
width:300px;
height:300px;
}
.imgmarquesina{
width:500px;
height:500px;
}
.botones{
width:100px;
height:100px;
border-radius:15%	
}
.allimg{
width:400px;
height:500px;
border:5px solid #000000;
}
@font-face{
	font-family: mifuente;
	src: url("../fuentes/Starjedi.ttf");
}
@font-face{
	font-family: mifuente2;
	src: url("../fuentes/BTTF.ttf");
}
@font-face{
	font-family: mifuente3;
	src: url("../fuentes/tommy.otf");
}
/*.fuentegoogle
font-family: 'Changa One', cursive;	
font-size: 50px;
text-align:center;
}*/
/*uso de div's*/
/*Div o caja para el encabezado*/
*{
margin:0px;
padding:0px;
}
div#top{
	width:100%;
	height:80px;
	background-image:linear-gradient(#000000,#FFBE03);
	
}
div#principal{
	margin:auto;
	margin-top:20PX;
	width:90%;
	height:650px;
	background-image:radial-gradient(#FF0303,#2A2A2A);
}
div#piep{
	margin-top:10px;
	width:100%;
	height:100px;
	background-image:linear-gradient(#000000,#FFBE03);
}
div#contacto{
	margin:auto;
	margin-top:20PX;
	width:90%;
	height:800px;
	background-image:radial-gradient(#FF0303,#2A2A2A);
}
div#serv{
	margin:auto;
	margin-top:20PX;
	width:90%;
	height:1800px;
	background-image:radial-gradient(#FF0303,#2A2A2A);
}
.caja{
	height:300px;
	width:300px;
	background:#eee;
	border:1px solid #eee;
	margin:5px;
	color:black;
	text-align:center;
	display:inline-block;
	
	
}
.caja:hover{
	box-shadow: 0 0 10px purple;
	transform:scale(1.3);
}
.caja-texto{
	padding-top:2px;
	font-size:20px;
	color:white;
	font-weight:bold;
	
}
.texto-adicional{
	padding-top:5px;
	font-size:15px;
}
.carrousel{
    width:600px;
    margin:auto;
    box-sizing:border-box;
}
.conteCarrousel{
    width:100%;
    height:400px;
    overflow:hidden;
    box-sizing:border-box;
}
.itemCarrousel{
    position:relative;
    width:100%;
    height:100%;
    box-sizing:border-box;
}
.itemCarrouselTarjeta{
    width:100%;
    height:100%;
    box-sizing:border-box;
}
.itemCarrouselArrows{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    height:100%;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:20px;
    box-sizing:border-box;
}
.itemCarrouselArrows >i :hover{
    cursor:pointer;
}
.conterCarrouselController{
    width:100%;
    display:flex;
    justify-content:space-between;
}
.conterCarrouselController >a{
    text-decoration:none;
    font-size:32px;
    color:grey;
}
.itemCarrouselArrows >a >i {
    color:white;
}
.tp{
	width:600px;
	background-image:linear-gradient(gray,black);  
}
.productos{
	text-align: center;
	font-size:18px;
	color:white;
	font-family: MIFUENTE;
}
.cajat{
	height:100px;
	width:100px;
	background:#eee;
	border:1px solid #eee;
	margin:5px;
	color:black;
	text-align:center;
	display:inline-block;
	
	
}
.cajat:hover{
	box-shadow: 0 0 10px purple;
	transform:scale(1.3);
}
